.search {
  background-color: white;
  opacity: 10%;
  border-radius: 3px;
  width: 80%;
  display: flex;
}

.search__input {
  border-style: none;
  padding: 0.7rem 0 0.7rem 0.7rem;
  background-color: transparent;
  flex: 1;
}

.search__btn {
  background-color: transparent;
  border-style: none;
  padding: 0.7rem 0.8rem 0.7rem 0.7rem;
}
