.landing-header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 45px 30px 35px 30px;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 100%;
  flex-grow: 1;
  padding: 0 0 8rem 0;
}

.logo-section {
  width: 50%;
  max-width: 300px;
  margin: 20px 0 0 0;
  position: absolute;

  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
}

.logo-section__slogan {
  color: white;
  font-style: italic;
  font-size: 26px;
  font-weight: 400;
  text-shadow: 1px 1px 0px rgb(0, 0, 0);
  margin: 20px;
}
