@font-face {
  font-family: 'Sansita One';
  src: url('./assets/fonts/SansitaOne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #231f42;
  color: #f56b9a;
}
